<div class="all-wrapper">

    <app-user-header></app-user-header>

    <div class="bodyContainer">
        <div class="page-area">
            <div class="breadcumb-overlay"></div>
        </div>
        <!-- End breadcumb Area -->


        <!-- Investment Area   -->
        <div class="investmentArea">
            <div class="payment-history-area bg-color fix area-padding-2">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="section-headline text-center">
                                <h3>All Investment</h3>
                                <p>Help agencies to define their new business objectives and then create professional software.</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="deposite-content">
                                <div class="diposite-box">
                                    <div class="deposite-table">
                                        <table>
                                            <tr>
                                                <th>Name</th>
                                                <th>Date</th>
                                                <th>Amount</th>
                                                <th>Currency</th>
                                                <th>Status</th>
                                            </tr>
                                            <tr>
                                                <td>Arnold</td>
                                                <td>Jan 04, 2020</td>
                                                <td>$1000</td>
                                                <td>USD</td>
                                                <td>
                                                    <i class="badge badge-pill badge-secondary">ACTIVE</i>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Jhon Abra</td>
                                                <td>Jan 07, 2020</td>
                                                <td>$6000</td>
                                                <td>USD</td>
                                                <td>
                                                    <i class="badge badge-pill badge-secondary">ACTIVE</i>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Lanisha</td>
                                                <td>Jan 13, 2020</td>
                                                <td>$5000</td>
                                                <td>USD</td>
                                                <td>
                                                    <i class="badge badge-pill badge-secondary">ACTIVE</i>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Gongales</td>
                                                <td>Jan 12, 2020</td>
                                                <td>$2000</td>
                                                <td>USD</td>
                                                <td>
                                                    <i class="badge badge-pill badge-danger">ACTIVE</i>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Admond sayhel</td>
                                                <td>Jan 10, 2020</td>
                                                <td>$1000</td>
                                                <td>USD</td>
                                                <td>
                                                    <i class="badge badge-pill badge-secondary">ACTIVE</i>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Remond</td>
                                                <td>Jan 02, 2020</td>
                                                <td>$3000</td>
                                                <td>USD</td>
                                                <td>
                                                    <i class="badge badge-pill badge-danger">ACTIVE</i>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <app-footer></app-footer>
    </div>



</div>