<section class="dark-theme">
    <!-- Page -->
    <div class="page">

        <div class="container-fluid">
            <div class="row no-gutter">
                <!-- The image half -->
                <div class="col-md-6 col-lg-6 col-xl-7 d-none d-md-flex" style="background: url(/assets/images/banner/login.jpg); background-position: bottom; background-size: cover;">
                    <div class="row wd-100p mx-auto text-center">
                        <div class="col-md-12 col-lg-12 col-xl-12 my-auto mx-auto wd-100p">
                            <!-- <img src="/assets/login.png" class="my-auto ht-xl-80p wd-md-100p wd-xl-80p mx-auto" alt="logo"> -->
                        </div>
                    </div>
                </div>
                <!-- The content half -->
                <div class="col-md-6 col-lg-6 col-xl-5">
                    <div class="login d-flex align-items-center py-2">
                        <!-- Demo content-->
                        <div class="container p-0">
                            <div class="row">
                                <div class="col-md-10 col-lg-10 col-xl-9 mx-auto">
                                    <div class="card-sigin">
                                        <div class="mb-5 text-center">
                                            <a routerLink="/"><img src="{{webSet?.logo_url}}" class="sign-favicon ht-40" alt="logo"></a>
                                        </div>
                                        <div class="card-sigin">
                                            <div class="main-signup-header">
                                                <div *ngIf="error" class="alert alert-danger">
                                                    {{ error }}
                                                </div>
                                                <div *ngIf="success" class="alert alert-success">
                                                    {{ success }}
                                                </div>

                                                <h2>Forgot Password?</h2>
                                                <h5 class="font-weight-semibold mb-4">Please enter your email to receive password.</h5>
                                                <form [formGroup]="form" (ngSubmit)="onSubmit()">
                                                    <div class="form-group">
                                                        <label>Enter Your Email</label>
                                                        <input type="email" class="form-control" formControlName="email" id="email">
                                                        <div *ngIf="email.touched && !email.valid" class="errorMessage alert alert-danger">Email is required</div>
                                                    </div>

                                                    <div class="mt-5 text-center">
                                                        <button *ngIf="!isLoading" (click)="onSubmit()" type="submit" class="btn btn-main-primary btn-block" [disabled]="!form.valid || email.value.indexOf('@') < 0">SUBMIT</button>

                                                        <button *ngIf="isLoading" class="btn btn-main-primary btn-block" type="button" disabled>
                                                            <span class="fa fa-spinner fa-pulse" 
                                                            role="status" aria-hidden="true"></span>
                                                            SUBMITTING...
                                                        </button>
                                                        <p class="mb-0 mt-3"><a routerLink="/login">Login</a> OR <a routerLink="/register">Register</a></p>
                                                    </div>
                                                </form>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End -->
                    </div>
                </div>
                <!-- End -->
            </div>
        </div>

    </div>
    <!-- End Page -->
</section>