<input type="checkbox" id="drawer-toggle" name="drawer-toggle"/>
<label for="drawer-toggle" id="drawer-toggle-label"></label>
<header class="admin-header">
  <app-admin-header></app-admin-header>
</header>

<nav id="drawer">
  <app-admin-nav-content></app-admin-nav-content>
</nav>


<div id="pageContents">
  <div id="adminWrapper">
    <div class="content">
      <div class="container-fluid">

        <div class="row">
          <div class="col-xl-2 custmDisplay-sidebar">
						<app-other-manager-menu></app-other-manager-menu>
					</div>


          <div class="custmDisplay col-xl-10">
            <div class="row">
              <div class="col-12">
                  <div class="page-title-box">
                      <div class="page-title-right">
                          <ol class="breadcrumb m-0">
                              <li class="breadcrumb-item">
                                <a routerLink="/{{adminUrl}}">Dashboard</a>
                              </li>
                              <li class="breadcrumb-item">
                                <a routerLink="/{{adminUrl}}/other-manager/payment-gateway">
                                  Other Manager
                                </a>
                              </li>
                              <li class="breadcrumb-item active">
                                Payment Methods
                              </li>
                          </ol>
                      </div>
                      <h4 class="page-title">Payment Methods</h4>
                  </div>
              </div>
            </div>

						<section id="payment-gateway">
              <div class="row">
    
                <div class="col-xl-6 col-lg-6">
                  <form [formGroup]="form" (ngSubmit)="submit()">
                    <div class="card">
                      <div class="card-header">
                        Add Shipping Method
                      </div>
                      <div class="card-body">
                        <div class="form-group">
                          <label for="name">
                            Courier Name<span class="text-danger">*</span>
                          </label><br>
                          <input 
                            type="text" 
                            id="name" 
                            formControlName="name" 
                            class="form-control"
                          >
                        </div>
                        <div class="form-group">
                          <div class="input-group mb-3">
                            <div class="input-group-prepend">
                              <span class="input-group-text">
                                <span innerHTML="{{currencyObj.symbol}}"></span>
                              </span>
                            </div>
                            <input 
                              type="number" 
                              class="form-control"
                              id="price"
                              name="price"
                              formControlName="price"
                            >
                            <div class="input-group-append">
                              <span class="input-group-text">.00</span>
                            </div>
                          </div>
                        </div>
                        <div class="form-group">
                          <label for="description">
                            Description<span class="text-danger">*</span>
                          </label>
                          <textarea 
                            class="form-control" 
                            formControlName="description" 
                            id="description" rows="2"
                          ></textarea>
                        </div>
      
                        <div class="form-group">
                          <div *ngIf="fileUploadError" class="alert alert-danger">
                            {{fileUploadError}}
                          </div>
                          <div *ngIf="uploadingProgress > 0" class="progress" style="margin-bottom: 10px;">
                            <span class="progress-bar progress-bar-striped progress-bar-animated" 
                              role="progressbar" 
                              aria-valuenow="100" 
                              aria-valuemin="0" 
                              aria-valuemax="100" 
                              style="width: 100%"> 
                              Uploading...{{ uploadingProgress }}%
                            </span>
                          </div>
                          <label for="uploadIcon">
                            Courier Logo
                            <small class="text-danger">
                              Best Banner size: 40px by 40px
                            </small>
                          </label>
                          <input 
                            type="text" 
                            formControlName="url"
                            hidden
                          >
                          <input 
                            type="file" 
                            class="form-control" 
                            id="uploadIcon"
                            (change)="onSelectFile($event)"
                          >
                        </div>
      
                        <div class="text-center">                         
                          <button *ngIf="!isAdding" 
                            type="submit" 
                            [disabled]="!form.valid"
                            class="btn btn-primary mt-5"
                          >Submit</button>
                          <button *ngIf="isAdding"
                            class="btn btn-primary mt-5" 
                            type="button" disabled>
                            <span class="spinner-border spinner-border-sm" 
                            role="status" aria-hidden="true"></span>
                            Submitting...
                          </button>
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
    
                <div class="col-xl-6 col-lg-6">
                  <div class="card">
                    <div class="card-header">
                      Shipping Methods
                    </div>
                    <div class="card-body">
                      <div class="table-responsive">
                        <table class="table table-condensed m-0">
                          <thead>
                            <tr>
                              <th>Logo</th>
                              <th>Courier</th>
                              <th>Price</th>
                              <th>Status</th>
                              <th>Action</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr *ngFor="let method of methods">
                              <td>
                                <img *ngIf="method.url" [src]="method.url" width="50px">
                                <p *ngIf="!method.url" class="text-muted">
                                  No logo
                                </p>
                              </td>
                              <td> {{method.name}} </td>
                              <td innerHTML="{{method.price | currency: currencyObj.symbol: 'symbol':'1.0' }}"></td>
                              <td>
                                <span 
                                  *ngIf="method.status === 1" class="text-success"
                                >Active</span>
                                <span 
                                  *ngIf="method.status !== 1" class="text-danger"
                                >Inactive</span>
                              </td>
                              <td>
                                <a 
                                  routerLink="/{{adminUrl}}/other-manager/shipping-method/edit/{{method.id}}"
                                  class="text-success"
                                ><i class="fa fa-pencil mr-4"></i> </a>
      
                                <button 
                                  class="btn btn-danger btn-sm"
                                  (click)="delete(method)"
                                ><i class="fa fa-times"></i></button>
                              </td>
                            </tr>  
                          </tbody>
                        </table>

                        <div *ngIf="methods && methods.length < 1" class="text-center mt-5">
                          <span class="text-muted">No shipping method</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
    
              </div>
            </section>


            <app-admin-footer></app-admin-footer>
          </div>
        </div>
      
      </div>
    </div>
  </div>

</div>