<input type="checkbox" id="drawer-toggle" name="drawer-toggle"/>
<label for="drawer-toggle" id="drawer-toggle-label"></label>
<header class="admin-header">
  <app-admin-header></app-admin-header>
</header>

<nav id="drawer">
  <app-admin-nav-content></app-admin-nav-content>
</nav>

<div id="pageContents">
	<div id="adminWrapper">
		<div class="content">
			<div class="container-fluid">

				<div class="row">
					<div class="col-xl-2 col-lg-2 col-md-3">
						<app-news-manager-menu></app-news-manager-menu>
					</div>
					
					<div class="col-xl-10 col-lg-10 col-md-9">
						<div class="row">
							<div class="col-12">
								<div class="page-title-box">
									<div class="page-title-right">
										<ol class="breadcrumb m-0">
											<li class="breadcrumb-item">
												<a routerLink="/{{adminUrl}}">
													Dashboard
												</a>
											</li>
											<li class="breadcrumb-item">
												<a routerLink="/{{adminUrl}}/news-manager">
													All News
												</a>
											</li>
											<li class="breadcrumb-item active">
												<span>
													Add News
												</span>
											</li>
										</ol>
									</div>
									<h4 class="page-title">
										<span>
											Add News
										</span>
									</h4>
								</div>
							</div>
						</div>


						<div id="donations">
							<div class="card card-body">
								<form [formGroup]="form" (ngSubmit)="submit()">
									<div class="form-group">
										<label for="title">News title</label>
										<input type="text" formControlName="title" class="form-control" id="title">
									</div>

									<div class="form-group">
										<label for="content">News Content</label>
										<angular-editor formControlName="content" [config]="editorConfig"></angular-editor>
									</div>

									<div class="text-center mt-5">
										<button class="btn btn-primary">UPDATE NEWS</button>
									</div>
								</form>
							</div>
						</div>
						<app-admin-footer></app-admin-footer>
					</div>	
				</div>
			</div>
		</div>
	</div>
	
</div>