.countDown {
    color: #fff;
    width: 100%;
}

.center {
    width: fit-content;
    margin: auto;
}

span {
    font-weight: bold;
}

.small {
    font-size: 25px;
}

.big {
    font-size: 40px;
}