@import '../../../../theme/user_style.scss';
.login-card {
    background: #08091b;
    padding: 10px;
}

.login-box {
    border: 3px solid #fff;
    padding: 10px;
}

label {
    color: #fff;
}

input,
select {
    color: #fff;
    background-color: #232e48;
    border: 1px solid rgba(226, 232, 245, 0.1);
}

input.form-control:focus {
    box-shadow: none;
}

.errorMessage {
    background: transparent;
    color: red;
    border: none;
    padding: 0px;
    font-weight: bold;
}

.form-icon-user {
    background: #08091b;
    width: 100px;
    height: 100px;
    margin: auto;
    padding: 10px;
    border: 3px solid #fff;
    color: #fff;
    margin-bottom: -60px;
    z-index: 200;
    position: relative;
    font-size: 50px;
    text-align: center;
    padding: 20px;
    border-radius: 50%;
}