<div class="all-wrapper">


    <app-user-header></app-user-header>

    <div id="main" class="main-wrapper">



        <!-- <div class="row">
				<div class="col-lg-3"></div>
				<div class="col-lg-6">
					<div class="form-container">
						<div>
							<div class="row text-center"><br>
									<h2 class="title-head hidden-xs">Change <span>Pasword</span></h2>
							</div><br>
							
							<div *ngIf="failed" class="alert alert-danger">
								{{failed}}
							</div>
							<div *ngIf="success" class="alert alert-success">
									{{success}}
							</div>

							<form [formGroup]="form" (ngSubmit)="submit()">

								<div class="form-group">
									<input class="form-control" formControlName="currentpwd" id="currentpwd" placeholder="Current Password" type="password"><br>

									<div *ngIf="currentpwd.touched && !currentpwd.valid" class="mt-2 errorMessage alert alert-danger">Current password is required</div>
								</div><br>

								<div class="form-group">
									<input class="form-control" formControlName="newPassword" id="newPassword" placeholder="New Pasword" type="password"><br>

									<div *ngIf="newPassword.touched && !newPassword.valid" class="mt-2 errorMessage alert alert-danger">New password is required</div>
								</div><br>
									
									<div class="form-group text-center">

										<button *ngIf="!isLoading" type="submit" [disabled]="!form.valid" class="btn btn-primary">Save</button>

										<app-inner-loading
											*ngIf="isLoading"
											[name]="'Saving...'"
											[class]="'btn btn-primary'"
										></app-inner-loading>

										<br><br>
									</div>
									
							</form>
						</div>
				</div>
				</div>
			</div> -->


        <div class="row mt-5 mr-b150">
            <div class="col-lg-3 col-md-1"></div>

            <div class="col-lg-6 col-md-10 col-sm-12 col-xs-12 wow  fadeInUp animated" data-wow-duration="1.6s" style="visibility: visible; animation-duration: 1.6s; animation-name: fadeInUp;">
                <div class="form-icon-user">
                    <i class="fa fa-lock"></i>
                </div>
                <div class="cusCard">
                    <div class="">
                        <div class="mt-5 mb-4">

                            <div *ngIf="failed" class="alert alert-danger">
                                {{failed}}
                            </div>
                            <div *ngIf="success" class="alert alert-success">
                                {{success}}
                            </div>

                            <form [formGroup]="form" (ngSubmit)="submit()">
                                <div class="form-group">
                                    <label>Enter New Password</label>
                                    <input class="form-control" formControlName="newPassword" id="newPassword" placeholder="New Pasword" type="password"><br>

                                    <div *ngIf="newPassword.touched && !newPassword.valid" class="mt-2 errorMessage alert alert-danger">New password is required</div>
                                </div>


                                <div class="mt-4 text-center">
                                    <button *ngIf="!isLoading" type="submit" [disabled]="!form.valid" type="submit" class="btn bg-primary btn-block text-white">UPDATE</button>

                                    <button *ngIf="isLoading" class="btn bg-primary btn-block text-white" type="button" disabled>
											<span class="fa fa-spinner fa-pulse" 
											role="status" aria-hidden="true"></span>
											UPDATING...
										</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>