<div class="all-wrapper">
	<app-user-header></app-user-header>

	<div class="main-wrapper">
		<div class="bodyContainer">
			<div class="page-area">
					<div class="breadcumb-overlay"></div>
			</div>
			<!-- End breadcumb Area -->


			<div id="donations">
				<section class="chat-section mt-4">
					<div class="container">
						<div class="row mx-0">
							<div class="col-md-4 px-0 chat-custmDisplay">
								<div class="chat-contact">
									<div class="card">
										<div class="card-header">
											<h4 class="subList">Subject List</h4>
										</div>
										<div class="card-body">
											<app-support-sidebar></app-support-sidebar>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-8 px-0">
								<div class="chat-msg">
									<div class="card">
										<div class="card-header">
											<div class="row">
												<div class="col-10">
													<div class="media last-seen">
														<div class="media-body">
															<h4 class="mb-0" style="margin-top: -10px;">{{messageTrees && messageTrees[0]?.title}}</h4>
															<p>{{messageTrees && messageTrees[0]?.first_name}} {{messageTrees && messageTrees[0]?.last_name}}</p>
														</div>
													</div>
												</div>

												<div class="col-2 text-right chat-dropDown">

													<div class="nav-item" ngbDropdown display="dynamic" placement="bottom-right">
														<a class="nav-link" tabindex="0" ngbDropdownToggle id="navbarDropdown3" role="button">
															<i class="fa fa-ellipsis-v"></i>
														</a>
														<div ngbDropdownMenu aria-labelledby="navbarDropdown3" class="dropdown-menu">
															<app-support-sidebar></app-support-sidebar>
														</div>
													</div>
												</div>
											</div>
										</div>

										<div id="chatTree" class="card-body">
											<div *ngFor="let chat of messageTrees">
												<div class="send" *ngIf="chat.sender === 'User'">
													<p>
														{{chat?.message}}<br><br>
														<a *ngIf="chat.attachment" href="{{chat?.attachment}}" class="attachment" target="_blank"><i class="fa fa-paperclip"></i> View Attachment</a>
													</p>
												</div>

												<div class="recieve" *ngIf="chat.sender === 'Admin'">
													<p>
														{{chat?.message}}<br> <br>
														<a *ngIf="chat.attachment" href="{{chat?.attachment}}" class="attachment" target="_blank"><i class="fa fa-paperclip"></i> View Attachment</a>
													</p>
												</div>
											</div>
										</div>

										<div class="card-footer">
											<form  [formGroup]="form" (ngSubmit)="submit()">
												<input type="hidden" formControlName="title" class="">
												<textarea class="form-control" required placeholder="Reply..." id="message" formControlName="message"></textarea>
												<div class="d-flex justify-content-between">
													<div>
														<label class="mt-2">
															<input type="file" hidden> <i class="fa fa-paperclip"></i> upload File
														</label>
													</div>
													<div>
														<button class="btn btn-primary btn-sm mt-2 mb-1">SEND</button>
													</div>
												</div>
											</form>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>
			</div>
			
			<app-footer></app-footer>
		</div>
	</div>
</div>