// $primary: #fd961a;  
$primary: #08091b;  
$primaryHover: rgba(253, 150, 26, 0.9);
$primaryHoverMenu: #fd961ae6;    
$secondary: #10122d;
$fadeDark: #060714;
$thirdColor: #3297cc;



$darkBody: #111;
$dropBg: rgba(0,0,0,.1);
$bodyLight: #333;
$bitCoinBg: rgba(0,0,0,.3);
$formControl: #555;
$formControlFocus: #aaa;
$formControlBg: #f2f2f2;
$formControlBd: #ddd;

$blackColor: #000;






$userPrimary: #1dc4e9;
$userSecondary: #3f4d67;
$userbody: #f4f7fa;