<input type="checkbox" id="drawer-toggle" name="drawer-toggle"/>
<label for="drawer-toggle" id="drawer-toggle-label"></label>
<header class="admin-header">
  <app-admin-header></app-admin-header>
</header>


<nav id="drawer">
  <app-admin-nav-content></app-admin-nav-content>
</nav>

<div id="pageContents">
	<div id="adminWrapper">
		<div class="content">
			<div class="container-fluid">

				<div class="row">
					<div class="col-xl-2 custmDisplay-sidebar">
						<app-settings-manager-menu></app-settings-manager-menu>
					</div>


          <div class="custmDisplay col-xl-10">
						<div class="row">
							<div class="col-12">
								<div class="page-title-box">
									<div class="page-title-right">
										<ol class="breadcrumb m-0">
											<li class="breadcrumb-item">
												<a routerLink="/{{adminUrl}}">Dashboard</a>
											</li>
											<li class="breadcrumb-item">
												<a routerLink="/{{adminUrl}}/settings-manager">Settings Manager</a>
											</li>
											<li class="breadcrumb-item active">
												Currency Setting
											</li>
										</ol>
									</div>
									<h4 class="page-title">Currency Setting</h4>
								</div>
							</div>
						</div>

            <section class="web-set">
							<div class="row">
								<div class="col-xl-6">
									<form 
										[formGroup]="form" 
										(ngSubmit)="submit()"
									>
										<div class="card">
											<div class="card-header">
												Add Currency
											</div>

											<div class="card-body">
												<div class="form-group mb-3">
													<label for="country">Country Currency <span class="text-danger">*</span></label>
													<input 
														type="text"
														id="country"
														formControlName="country"
														class="form-control"
													>
												</div>

												<div class="form-group mb-3">
													<label for="code">Country Code <span class="text-danger">*</span></label>
													<input 
														type="text"
														id="code"
														formControlName="code"
														class="form-control"
													>
												</div>

												<div class="form-group mb-3">
													<label for="symbol">Country Symbol <span class="text-danger">*</span></label>
													<input 
														type="text"
														id="symbol"
														formControlName="symbol"
														class="form-control"
													>
												</div>
												<div class="row mt-4">
													<div class="col-12 text-center">
														<hr>
														<button *ngIf="!isLoading" 
															type="submit" 
															class="addBtn btn btn-primary btn-lg"
														>Add Currency</button>
														<button *ngIf="isLoading"
															class="btn btn-primary btn-lg" 
															type="button" disabled>
															<span class="spinner-border spinner-border-sm" 
															role="status" aria-hidden="true"></span>
															Adding...
														</button>
													</div> <!-- end col -->
												</div>
											</div>
										</div>
									</form>
								</div>

								<div class="col-xl-6">
									<form 
										[formGroup]="formDefault" 
										(ngSubmit)="submitDefault()"
									>
										<div class="card">
											<div class="card-header">
												Default Currency
											</div>
											<div class="card-body">
												<div class="form-group mb-3">
													<div class="mt-3">
														<select 
															class="form-control"
															formControlName="id"
														>
															<option 
																[ngValue]="null" disabled
																innerHTML="{{defaultCurrency.country + ' ('+ defaultCurrency.code + ') => ' + defaultCurrency.symbol }}"
															></option>
				
															<option 
																*ngFor="let curr of currencies; let i index"
																value="{{curr.id}}" 
																innerHTML="{{curr.country + ' ('+ curr.code + ') => ' + curr.symbol }}"
															></option>
														</select>
													</div>
												</div>
												<div class="text-center">
													<hr>
													<button *ngIf="!isLoading" 
														type="submit" 
														class="addBtn btn btn-primary btn-lg"
													>UPDATE</button>
													<button *ngIf="isLoading"
														class="btn btn-primary btn-lg" 
														type="button" disabled>
														<span class="spinner-border spinner-border-sm" 
														role="status" aria-hidden="true"></span>
														UPDATING...
													</button>
												</div>
											</div>
										</div>
									</form>
								</div>
							</div>
						</section>

						<app-admin-footer></app-admin-footer>
          </div>
        </div>

			</div>
		</div>
	</div>

</div>