@import "../support-open/support-open.component.scss";
// .chat-contact-list {
//     height: 200px !important;
//     padding: 0px;
//     overflow-y: auto;
// }
.chat-contact-list img {
    width: 50px;
    height: 50px;
}

.chat-contact-list p {
    font-size: 14px;
    text-align: left;
}

.chat-contact-list p span {
    text-align: right;
    font-size: 12px;
}