<div *ngIf="auth">
    <!-- <app-user-header></app-user-header> -->
</div>
<app-header *ngIf="!auth"></app-header>

<div class="bodyContainer">
    <div class="cusBreadcrumb">
        <h2>{{page?.title}}</h2>
        <ul>
            <li><a routerLink="/">Home</a><span>/</span></li>
            <li>{{page?.title}}</li>
        </ul>
    </div>
    <!-- End breadcumb Area -->
    <!-- Start contact Area -->
    <div class="contact-area page-padding">
        <div class="container">
            <div class="terms-wrapper">
                <h1 class="term-title">{{page?.title}}</h1>

                <div class="term-content">
                    <div innerHTML="{{page?.contents}}"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Contact Area -->

    <app-footer></app-footer>
</div>