<div class="all-wrapper">
    <app-user-header></app-user-header>

    <div class="main-wrapper">
        <div class="bodyContainer">
            <div class="page-area">
                <div class="breadcumb-overlay"></div>
            </div>
            <!-- End breadcumb Area -->

            <div class="container-fluid dashboardParent">
                <div class="notificationCont mb-4 bgWarning">
                    <p>
                        We use the latest technologies and tools in order to create a better code that not only works great, but it is easy easy to work with too. We use the latest technologies and tools in order to create a better code that not only works great, but it is easy
                        easy to work with too. We use the latest technologies and tools in order to create a better code that not only works great, but it is easy easy to work with too. We use the latest technologies and tools in order to create a better
                        code that not only works great, but it is easy easy to work with too. We use the latest technologies and tools in order to create a better code that not only works great, but it is easy easy to work with too.
                    </p>
                    <div class="dateCont float-right">
                        <span>2020-02-23</span>
                        <a routerLink="/user/support/1" class="postBtn">Read More</a>
                    </div>
                </div>
            </div>

            <app-footer></app-footer>
        </div>

    </div>
</div>