<section class="dark-theme">
    <!-- Page -->
    <div class="page">

        <div class="container-fluid">
            <div class="row no-gutter">
                <!-- The image half -->
                <div class="col-md-6 col-lg-6 col-xl-7 d-none d-md-flex" style="background: url(/assets/images/banner/login.jpg); background-position: bottom; background-size: cover;">
                    <div class="row wd-100p mx-auto text-center">
                        <div class="col-md-12 col-lg-12 col-xl-12 my-auto mx-auto wd-100p">
                            <!-- <img src="/assets/login.png" class="my-auto ht-xl-80p wd-md-100p wd-xl-80p mx-auto" alt="logo"> -->
                        </div>
                    </div>
                </div>
                <!-- The content half -->
                <div class="col-md-6 col-lg-6 col-xl-5">
                    <div class="login d-flex align-items-center py-2">
                        <!-- Demo content-->
                        <div class="container p-0">
                            <div class="row">
                                <div class="col-md-10 col-lg-10 col-xl-9 mx-auto">
                                    <div class="card-sigin">
                                        <div class="mb-5 text-center">
                                            <a routerLink="/"><img src="{{webSet?.logo_url}}" class="sign-favicon ht-40" alt="logo"></a>
                                        </div>
                                        <div class="card-sigin">
                                            <div class="main-signup-header">
                                                <div *ngIf="error" class="alert alert-danger">
                                                    {{ error }}
                                                </div>

                                                <div *ngIf="success" class="alert alert-success">
                                                    {{ success }}
                                                </div>

                                                <h2>Reset password!</h2>
                                                <h5 class="font-weight-semibold mb-4">Please Enter your new password.</h5>


                                                <form [formGroup]="form" (ngSubmit)="submit()">
                                                    <div class="row">
                                                        <div class="col-lg-12">
                                                            <div class="form-group">
                                                                <label>New Password</label>
                                                                <input type="password" class="form-control" formControlName="password" id="password">
                                                                <div *ngIf="password.touched && !password.valid" class="errorMessage alert alert-danger">New password is required</div>
                                                            </div>
                                                        </div>

                                                        <div class="col-lg-12">
                                                            <div class="form-group">
                                                                <label>Retype New Password</label>
                                                                <input class="form-control" formControlName="retypePassword" id="retypePassword" type="password" required>
                                                                <div *ngIf="retypePassword.touched && !retypePassword.valid" class="errorMessage alert alert-danger">Retype Password is required</div>
                                                            </div>
                                                        </div>
                                                    </div>




                                                    <div class="mt-5 text-center">
                                                        <button *ngIf="!isLoading" type="submit" class="btn btn-main-primary btn-block" [disabled]="!form.valid">RESET PASSWORD</button>

                                                        <button *ngIf="isLoading" class="btn btn-main-primary btn-block" type="button" disabled>
																										<span class="fa fa-spinner fa-pulse" 
																										role="status" aria-hidden="true"></span>
																										RESETTING...
																									</button>
                                                    </div>
                                                </form>

                                                <div class="main-signin-footer mt-5">
                                                    <p><a routerLink="/forgot-password">Forgot password?</a></p>
                                                    <p>Don't have an account? <a routerLink="/register">Create an Account</a></p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End -->
                    </div>
                </div>
                <!-- End -->
            </div>
        </div>

    </div>
    <!-- End Page -->
</section>