.noteLAert {
    color: red;
    font-size: 14px;
}
table .success{
    background: #dff0d8;
}

table .active{
    background: #f4f8fb;
}
#add-category table tr td{
    padding-top: 4px;
    padding-bottom: 4px !important;
    font-size: 15px;
    color: #555;
}
